body{
   margin-top: 10vh;
    background-color: rgba(30, 27, 27, 0.848);
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    cursor: pointer;


}
 .images{
    /* border: 5px solid rgb(104, 32, 1); */
    /* background-color:rgb(108, 46, 46) ; */
    border: 5px solid rgb(10, 7, 5);
    background-color: black;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.653);
    width: 470px;
    height: 470px;

 }
 img{
    border: 2px solid rgb(10, 10, 17);
 }
 .fullimg{
   /* border: 5px solid rgb(104, 32, 1); */
   border: 5px solid rgb(10, 7, 5);
   box-shadow: 2px 2px 15px rgb(0, 0, 0);
   align-self: flex-start;
   margin-right: 40px;

 }
 